/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url("https://fonts.cdnfonts.com/css/ubuntu-mono-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .leftbar-icon {
    @apply relative flex items-center justify-center h-12 w-auto my-10 mx-4 text-xl bg-blue-900
     text-blue-100 hover:bg-blue-500 rounded-3xl transition-all 
     duration-300 ease-in cursor-pointer;
  }
  .input-box {
    @apply block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs 
    focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
     dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .bigbutton {
    @apply p-3 flex-none text-xl md:text-3xl rounded-xl text-blue-200 bg-blue-600 hover:bg-blue-800 cursor-pointer transition-all;
  }

  .editfbuttons {
    @apply flex-1 rounded-xl w-[8vw] hover:bg-blue-400 cursor-pointer text-[1vw] p-2 font-Ubuntu;
  }

  .background {
    @apply bg-spaceimg2 backdrop-brightness-0 bg-fixed bg-cover h-[100vh] flex flex-col items-center justify-center;
  }

  .sheerbox {
    @apply rounded-3xl text-blue-200 bg-black bg-opacity-60 px-16 py-10 shadow-lg max-sm:px-8 flex flex-col items-center justify-center;
  }

  .pagetitle {
    @apply text-[3.5vw] font-bold text-blue-200 my-auto;
  }
}

.arrow {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg); */
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

table {
  border-collapse: collapse;
}

.no-scrollbar::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.arrows {
  width: auto;
  height: auto;
  position: fixed;
  left: 50%;
  padding-top: 40px;
  transform: translateX(-30%);
  /* bottom: 20px; */
}

.arrows path {
  stroke: blue;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.collapsible-sidebar {
  width: 256px; /* width of the sidebar */
  height: 100vh; /* height of the sidebar */
  position: fixed; /* position the sidebar fixed */
  top: 0; /* position the sidebar at the top */
  left: 0; /* position the sidebar on the left */
  z-index: 10; /* position the sidebar above other elements */
  background-color: #fff; /* set the background color of the sidebar */
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* add a box shadow to the sidebar */
  transition: transform 0.3s ease-out; /* add a transition to the sidebar */
  transform: translateX(-100%); /* hide the sidebar offscreen */
}

.collapsible-sidebar-open {
  transform: translateX(0); /* show the sidebar onscreen */
}

img {
  image-rendering: pixelated;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes animation-scroll {
  from {
    transform: translateY(120%);
  }
  to {
    transform: translateY(-120%);
  }
}

.levelfadein {
  animation: fadeInAnimation ease 3s;
}

.newlevelfadein {
  animation: reverseFadeInAnimation ease-in 7s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reverseFadeInAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-scroll {
  animation: animation-scroll 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

.animate-shake {
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #bfdbfe; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 9s steps(17, start) infinite, blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  /* from { width: 0 }
  to { width: 100% } */
  0% {
    width: 0;
  }
  33%,
  100% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #bfdbfe;
  }
}

@media (max-width: 768px) {
  .title {
    font-family: "Ubuntu Mono";
    font-size: 6vw;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .title {
    visibility: hidden;
  }
}

/* utilities.css */

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

/* maze.css */

.maze-container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.grid-container {
  --maze-dimension: 90;
  display: grid;
  grid-template-columns: repeat(var(--maze-dimension), 1fr);
  grid-template-rows: repeat(var(--maze-dimension), 1fr);
  gap: 0px;
  width: 30vw;
}

.maze-cell {
  aspect-ratio: 1;
  font-size: 10px;
}

.toggle-button {
  position: absolute;
  bottom: 10vh;
}

.white {
  background: rgba(128, 128, 128, 0.1);
}

.black {
  background: rgba(0, 0, 0, 0.5);
}

.red {
  background: rgba(255, 0, 0, 0.5);
}

/* dot pulse css  */

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

input[type="checkbox"] {
  accent-color: red;
  width: 2vw;
  margin-right: 0;
}

input[type="checkbox"]:checked {
  accent-color: rgb(96 165 250);
  accent-color: rgb(96,165,250);
}

@keyframes glow{
  50%{
    box-shadow: 0 0 15px red;
  }
}

.glow-pulse{
  animation: glow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes glow2{
  50%{
    box-shadow: 0 0 15px green;
  }
}

.glow-pulse2{
  animation: glow2 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
