@tailwind base;
@tailwind components;
@tailwind utilities;

/* utilities.css */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}


/* homebutton.css */

.home-button {
    background-color: rgb(0, 157, 255);
    border-radius: 8px;
    border-style: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    margin: 5px;
    padding: 10px 16px;
    transition: background-color 150ms;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .home-button:hover,
  .home-button:focus {
    background-color: rgb(109, 199, 255);
  }

/* navbar.css */

.nav-container{
    display: flex;
    padding: 16px 24px; 
    border-bottom: lightgray solid;
    background-color: white;
    justify-content: space-between;
}

.nav-title{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 4px;
    cursor: pointer;
}

.nav-item{
    align-items: right;
}

/* maze.css */

.maze-container{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.grid-container{
    --maze-dimension: 21;
    display: grid;
    grid-template-columns: repeat(var(--maze-dimension), 1fr);
    grid-template-rows: repeat(var(--maze-dimension), 1fr);
    gap: 0px;
    width: 30vw;
}

.maze-cell{
    aspect-ratio: 1;
    font-size: 10px;
}

.toggle-button{
    position: absolute;
    bottom: 10vh;
}

.white{
    background: rgba(128, 128, 128, 0.1);
}

.black{
    background: rgba(0, 0, 0, 0.5);
}

/* student dashboard */
.StudentDashboard-container {
  display: flex; /* or inline-flex */
  align-items: stretch flex-start;
}

.StudentDashboard-leftSide{
  flex-grow: 1;
  border: red solid;
}


.StudentDashboard-rightSide{
  flex-grow: 4;
  border: red solid; 
}

