/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url("https://fonts.cdnfonts.com/css/ubuntu-mono-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .leftbar-icon {
    @apply relative flex items-center justify-center h-12 w-auto my-10 mx-4 text-xl bg-blue-900
     text-blue-100 hover:bg-blue-500 rounded-3xl hover:rounded-xl transition-all 
     duration-300 ease-in cursor-pointer;
  }
  .input-box {
    @apply block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs 
    focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
     dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .bigbutton {
    @apply mx-10 flex-none text-3xl rounded-xl text-blue-200 bg-blue-800 hover:bg-blue-500 cursor-pointer transition-all;
  }

  .editfbuttons {
    @apply flex-1 rounded-xl w-40 hover:bg-blue-400 text-xl p-2;
  }

  .background {
    @apply bg-spaceimg2 backdrop-brightness-0 bg-fixed bg-cover h-[100vh] flex flex-col items-center justify-center;
  }

  .sheerbox {
    @apply rounded-3xl text-blue-200 bg-black bg-opacity-50 px-16 py-10 shadow-lg max-sm:px-8 flex flex-col items-center justify-center;
  }


}

/* h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  animation: typewriter 1s
    steps(26) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter 1s
      steps(26) 1s forwards,
    blink 750ms steps(26) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
 */

 .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #bfdbfe; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 9s steps(26, start) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  /* from { width: 0 }
  to { width: 100% } */
  0% { width: 0 }
  33%, 100% {width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #bfdbfe; }
}


@media (max-width: 768px) { .title{font-family: "Ubuntu Mono"; font-size: 6vw; font-weight: 700;} }
@media (min-width: 768px) { .title{visibility: hidden} }



/* utilities.css */

:root {
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", sans-serif;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

/* maze.css */

.maze-container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.grid-container {
  --maze-dimension: 90;
  display: grid;
  grid-template-columns: repeat(var(--maze-dimension), 1fr);
  grid-template-rows: repeat(var(--maze-dimension), 1fr);
  gap: 0px;
  width: 30vw;
}

.maze-cell {
  aspect-ratio: 1;
  font-size: 10px;
}

.toggle-button {
  position: absolute;
  bottom: 10vh;
}

.white {
  background: rgba(128, 128, 128, 0.1);
}

.black {
  background: rgba(0, 0, 0, 0.5);
}

.red {
  background: rgba(255, 0, 0, 0.5);
}

/* dot pulse css  */

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
