.StudentDashboard-container {
    display: flex; /* or inline-flex */
    align-items: stretch flex-start;
}

.StudentDashboard-leftSide{
    flex-grow: 1;
    border: red solid;
}


.StudentDashboard-rightSide{
    flex-grow: 4;
    border: red solid; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;

