.home-button {
  background-color: rgb(0, 157, 255);
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin: 5px;
  padding: 10px 16px;
  transition: background-color 150ms;
  user-select: none;
  -webkit-user-select: none;
}

.home-button:hover,
.home-button:focus {
  background-color: rgb(109, 199, 255);
}