@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto:wght@700&display=swap');

.nav-container{
    display: flex;
    padding: 16px 24px; 
    border-bottom: lightgray solid;
    background-color: white;
    justify-content: space-between;
}

.nav-title{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 4px;
    cursor: pointer;
}

.nav-item{
    align-items: right;
}